<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Brandol"
        tools:targetApi="31">
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao6e018e03967e146926c7133da93cedaf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.SignupNicknameActivity"
            android:exported="false" />

        <activity
            android:name=".login.LoginStartActivity"
            android:exported="false" />

        <activity
            android:name=".login.TermsActivity"
            android:exported="false" />

        <activity
            android:name=".login.TermsContentActivity"
            android:exported="false" />

        <activity
            android:name=".opavatar.OpponentAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".chatting.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".BoardActivity"
            android:exported="false" />
        <activity
            android:name=".BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BoardSearchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>


    </application>

</manifest>